

body {
 background-color:transparent;
 cursor: crosshair;
}





h1 { font-weight: 700;
font-family: Arial ,Helvetica,sans-serif;

}







button {
background-color: black;
height: 60px;
width: 60px;
border-radius: 50px;
color: white;
margin-right: 20px;margin-left: 20px;
cursor: pointer;



}
