#Queen

{ 
padding : 3px 3px 3px 3px; font-style :  italic;  
 z-index: 100;
 filter:brightness(102%) saturation(105%) contrast(110%) opacity(0%); 
transform: rotate(-2deg);
 border-radius: 40px; 
margin :80px 100px 30px 30px;
height :220px;
width:120px;
border: solid 1px black;  float: right;


}
